#Home {
  height: 90vh;
  padding-top: calc(2% + 60px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 10%;
  color: aliceblue;
  text-shadow: 0 0 4px rgb(70, 40, 0), 0 0 3px rgb(70, 40, 0),
    0 0 2px rgb(70, 40, 0);
}

#Home * {
  margin-top: 1.5%;
  margin-bottom: 1.5%;
}

#Home h1 {
  width: 51%;
}

#Home p {
  font-size: large;
}

#Home a {
  width: fit-content;
}

#Home button {
  padding: 10px;
  padding-left: 15px;
  padding-right: 15px;
  background-color: aliceblue;
  border-radius: 15px;
  border-width: 0;
  transition: background-color 0.5s;
  font-size: medium;
  box-shadow: 0 0 5px lightblue, 0 0 3px lightblue;
  transition: all 0.5s;
}

#Home button:hover {
  color: aliceblue;
  background-color: black;
}

@media only screen and (max-width: 768px) {
  #Home {
    padding-top: 0%;
    height: 100vh;
  }
  #Home * {
    margin-top: 7%;
    margin-bottom: 7%;
  }
  #Home h1 {
    width: 70%;
  }
}
