#Testimonials {
  padding-top: 5%;
  padding-left: 07%;
  padding-right: 07%;
  height: 100vh;
}

#Testimonials .Cont {
  height: 300px;
  width: 240px;
  overflow: hidden;
}

#Testimonials .Cont img {
  height: 300px;
  width: 240px;
  object-fit: cover;
  position: absolute;
  z-index: -1;
}
