#Testimonials {
  padding-top: calc(2% + 70px);
  padding-left: 07%;
  padding-right: 07%;
}

#Testimonials > h1 {
  padding-top: 5%;
  color: aliceblue;
  text-shadow: 0 0 4px black, 0 0 3px black, 0 0 2px black, 0 0 1px black;
}

#Testimonials p {
  font-size: small !important;
}

#Testimonials .col {
  /* background-color: black; */
  display: flex;
  align-items: center;
  justify-content: center;
  vertical-align: middle;
  margin-top: 25px;
  margin-bottom: 25px;
}

#Testimonials .col .card {
  height: 300px;
  width: 250px;
  overflow: hidden;
  background-color: black;
  border-radius: 20px;
  color: aliceblue;
  text-shadow: 0 0 3px black, 0 0 2px black, 0 0 1px black;
  display: flex;
  justify-content: center;
  align-items: center;
  vertical-align: middle;
}

#Testimonials .col img {
  height: 310px !important;
  width: auto !important;
  object-fit: cover !important;
  transition: all ease 0.3s;
  box-sizing: border-box;
}

#Testimonials .col .card:hover img {
  height: calc(100% + 80px) !important;
  width: calc(auto + 80px) !important;
  object-fit: cover !important;
}

@media only screen and (max-width: 768px) {
  #Testimonials .col {
    width: 40vw;
    padding: 0% !important;
    z-index: -1;
  }
  #Testimonials .col .card {
    height: 200px;
    width: 40vw;
  }
  #Testimonials .col img {
    height: 205px !important;
    width: auto !important;
  }
}
